<div class="tag-link" data-href="<%= link %>" itemprop="url" role="link" tabindex="0" aria-label="<%- name %>">
    <div class="card-card">
        <div class="card-container">
            <span class="card-link"><%- name %></span>
            <span class="card-count">(<%- count %>)</span>
        </div>
    </div>
</div>
