<% if (post.prev || post.next){ %>
<nav class="post-nav flex-row flex-justify-between<% if(!post.prev){ %> flex-row-reverse<% } %>">
  <% if (post.prev){ %>
    <div class="waves-block waves-effect prev">
      <a href="<%- url_for(post.prev.path) %>" id="post-prev" class="post-nav-link">
        <h4 class="title">上一篇：<%= post.prev.title || '[no title]' %></h4>
      </a>
    </div>
  <% } %>

  <% if (post.next){ %>
    <div class="waves-block waves-effect next">
      <a href="<%- url_for(post.next.path) %>" id="post-next" class="post-nav-link">
        <h4 class="title">下一篇：<%= post.next.title || '[no title]' %></h4>
      </a>
    </div>
  <% } %>
</nav>
<% } %>
