<% if(page.reward){ %>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        <span><%=theme.reward.title %></span>
        <i class="icon icon-quote-right"></i>
    </h3>
    <div class="reward-content">
        <%
            var wechat = theme.reward.wechat;
            var alipay = theme.reward.alipay;
            var img = theme.reward.wechatalipay;
        %>
        <div class="reward-code">
            <img id="rewardCode" data-img="<%- url_for(img) %>" alt="打赏二维码">
        </div>
        <% if(!!wechat && !!alipay) { %>
        <div class="reward-toggle" role="tablist" aria-label="打赏方式切换">
            <button
                type="button"
                class="reward-toggle-item reward-toggle-button wechatPay"
                data-method="wechat"
                data-img="<%- url_for(wechat) %>"
                aria-pressed="false"
            >微信</button>
            <button
                type="button"
                class="reward-toggle-item reward-toggle-button alipayPay"
                data-method="alipay"
                data-img="<%- url_for(alipay) %>"
                aria-pressed="false"
            >支付宝</button>
        </div>
        <% } %>
        <i class="icon icon-caret-up"></i>
    </div>
</div>
<% } %>
