<% if(page.reward){ %>
    <div class="page-reward">
        <nav class="myreward">
            <button id="rewardBtn" class="reward-trigger" type="button"><span>打&nbsp;赏</span><span>装成好像很多人打赏的样子</span></button>
        </nav>
    </div>
<% } %>
