<div id="landlord" class="fade-scale">
    <div class="live2dtool">
        <a class="live2dplane" href="javascript:takePicture();" aria-label="截图">
            <i class="icon icon-lg icon-camera custom-camera"></i>
        </a>
        <a class="live2dview" href="javascript:loadLiveModel();" aria-label="换装">
            <i class="icon icon-lg icon-refresh custom-clothes"></i>
        </a>
        <a class="live2dchat" href="javascript:showHitokoto();" aria-label="对话">
            <i class="icon icon-lg icon-commenting-o custom-comment"></i>
        </a>
    </div>
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" onclick="dontTouchMe()" height="250" width="200" class="live2d"></canvas>
</div>
